html{
	background: url('bg.png');
	height: 100%;
}
body{
	background-image: -webkit-linear-gradient(45deg, rgba(255, 30, 30, .1), rgba(231, 224, 63, .45) 70%);
	background-image: linear-gradient(45deg, rgba(255, 30, 30, .35), rgba(231, 224, 63, .45) 70%);
	font-family: 'Microsoft Yahei', 'Sans-serif';
	height: 100%;
	margin: 0;
}
#logo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
#select-danmaku,
#select-user{
	border-left: 3px solid;
	font-size: 12px;
	line-height: 1;
	padding: 0 7px;
	position: absolute;
}
#select-danmaku{
	top: 130px;
	left: 10px;
}
#select-user{
	top: 160px;
	left: 10px;
}

#wrapper{
	width: 548px;
	margin: 0 auto;
	padding: 13% 0 0;
}
#player{
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 15px rgba(255, 255, 255, .65);
	padding: 3px;
	position: relative;
}
video{
	background: #000;
}
#loading{
	position: absolute;
	top: 174px;
	left: 252px;
}
#play-button{
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 1px #666, 0 0 7px #aaa;
	color: #555;
	cursor: pointer;
	font-size: 24px;
	padding: 0 10px 5px;
	opacity: 0;
	position: absolute;
	top: 390px;
	left: 20px;
	z-index: 999;
}
#play-button:hover{
	box-shadow: 0 0 1px #69f, 0 0 15px #aaa;
	color: #69f;
}
#play-button.paused{
	top: 330px;
	left: 20px;
	opacity: 1;
}
#play-button.initial{
	top: 174px;
	left: 252px;
	opacity: 1;
}
#stage{
	cursor: pointer;
	overflow: hidden;
	-webkit-perspective: 100;
	-webkit-perspective-origin: top right;
}
.danmaku{
	color: #fff;
	display: block;
	font-size: 25px;
	letter-spacing: 0;
	line-height: 100%;
	text-shadow: -1px 0 0 rgba(0, 0, 0, .75), 0 -1px 0 rgba(0, 0, 0, .75), 0 1px 0 rgba(0, 0, 0, .75), 1px 0 0 rgba(0, 0, 0, .75), 0 0 3px #000;
	position: absolute;
	/* 允许字体小于12px */
	-webkit-text-size-adjust: none;
}
.scrollDanmaku{
	padding: 1.5px 0 1.5px 5px;
	white-space: nowrap;
}
.bottomDanmaku{
	text-align: center;
	padding: 1.75px 0 1.75px 5px;
}
.topDanmaku{
	text-align: center;
	padding: 1.75px 0 1.75px 5px;
}
.specialDanmaku{
	-webkit-transform-style: preserve-3d;
}
.danmaku.debug:hover{
	cursor: text;
	color: #f90 !important;
}

#controller{
	background: #ccc;
	display: block;
	width: 100%;
}
#timeline{
	background: #333;
	border-right: 1px solid #c60;
	height: 5px;
	width: 0%;
}

#send-danmaku{
	margin: 10px;
	position: relative;
}
#offline{
	background: #FC5151;
	border-radius: 2px;
	color: #fff;
	display: none;
	font-size: 10px;
	padding: 0 2px;
	position: absolute;
	right: 60px;
	top: 6px;
	z-index: 9;
}
#toggle-button{
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 2px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 0 0 3px;
	width: 25px;
	text-indent: 7px;
	transition: all .3s ease;
}
#toggle-button:hover{
	box-shadow: 0 0 5px #ccc;
	color: #69f;
}
#danmaku-type{
	border: 1px solid #aaa;
	border-radius: 1px;
	font-family: inherit;
	height: 26px;
}
#danmaku-text{
	background: rgba(255, 255, 255, .5);
	border: 1px solid #999;
	border-radius: 1px;
	font-family: inherit;
	font-size: 12px;
	width: 315px;
	outline: none;
	padding: 3px 5px;
	position: relative;
	top: -1px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
#danmaku-text:hover{
	border-color: #c60;
}
#danmaku-text:focus{
	background: rgba(255, 255, 255, 1);
}
#do-send-danmaku{
	background-image: -webkit-linear-gradient(#f3f3f3, #ddd);
	background-image: linear-gradient(#f3f3f3, #ddd);
	border: 1px solid #aaa;
	border-radius: 2px;
	box-shadow: 0 1px 0 #fff inset;
	color: #404040;
	cursor: pointer;
	font-size: 14px;
	font-family: inherit;
	line-height: 21px;
}
#do-send-danmaku:hover{
	border-color: #555;
	color: #111;
}
#message{
	background: #F74343;
	color: #fff;
	text-align: center;
	margin: 10px 6px 0 1px;
	opacity: 0;
	padding: 3px;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-ms-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}
#message.active{
	opacity: 1;
}

#danmaku-list{
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
#danmaku-list ul{
	margin: 0;
	padding: 0;
}
#danmaku-list li{
	cursor: default;
	list-style: none;
	font-size: 12px;
	line-height: 2;
	width: 245px;
	overflow: hidden;
	padding: 3px 10px;
	position: relative;
}
#danmaku-list li.active span{
	color: #69f;
	font-weight: bold;
}
#danmaku-list li span{
	color: #999;
	display: inline-block;
	width: 55px;
}
#danmaku-list li:hover{
	background: #FF8E4F;
}
#danmaku-list li:hover span{
	color: #fff;
}